html.about {

  h1 {
    font-size: 7.5rem;
    text-transform: uppercase;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    animation: fade1 2s;
  }

  @keyframes fade1 {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  h2 {
    font-size: 5rem;
    line-height: 4rem;
    margin: 0 auto;
    animation: fade2 5s;
    font-family:'Lato', sans-serif;
    font-weight: 100;
  }

  @keyframes fade2 {
    0% {opacity: 0;}
    45% {opacity: 0;}
    100% {opacity: 1;}
  }

  h3 {
    text-align: left;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding: 5px 0px;
    color: black;
    margin-bottom: 20px;
  }

  h4 {
      text-align: center;
      font-size: 2.5rem;
      font-weight: 400;
      text-transform: uppercase;
      padding: 10px;
  }


  // MAIN IMAGE 

  header {
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(to bottom, rgba(50, 50, 50, 0.1) 0%, rgba(0, 0, 0, 0.6) 70%, rgba(0, 0, 0, 1) 100%), url("/Assets/gaming-chairs-1200x3852.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    margin-bottom: 150px;
    background-position: center;
    position: relative;
    top: 90px;
    left: 0;
  }

  .mainTextContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    padding-bottom: 70px;
  }

  .h1Red {
    color: red;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }

  
  // ABOUT

  .aboutText {
    display: flex;
    align-items: center;
    margin-top: 25px;
  }

  .aboutText img {
    width: 40%;
    height: 350px;
    object-fit: cover;
    object-position: 20% center;
  }

  .companyBio {
    width: 60%;
    margin-left: 30px; 
  }

  .companyBio p {
    margin-top: 15px;
    margin-bottom: 15px;
  }


  //FAQ 

  .accordion {
    border-bottom: 2px solid white;
  }
  
  .accordionItemHeader {
    cursor: pointer;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    background-color: black;
    font-size: 2rem;
  }

  .accordionItemHeader::after, .accordionItemHeader.active::after {
    font-size: 3.5rem;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%; 
    padding: 0 10px;
    color: white;
  }

  .accordionItemHeader::after {
    content: "\002B";
  }

  .accordionItemHeader.active::after {
    content: "\002D";   
  }
  
  .accordionContent {
    padding: 10px;
    color: black;
    font-size: 2rem;
    border: 2px solid black;
  }

  .accordionItemBody {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: max-height 0.5s ease-out;
  }
}


