@use "variables" as *;

body {
  background-color: white;
  color: black;
}

section {
  margin: 60px auto;
  scroll-margin-top: 15vh;
}

p {
  font-size: 2.2rem;
  line-height: 2.2rem;
  color: black;
}

