@media (max-width: 950px) {

  p {
      font-size: 1.9rem;
      line-height: 1.9rem;
  }

  section {
      margin: 50px auto;
  }

  .footerContainer {
    flex-direction: column;
  
  }

  .addressInfo {
      width: 100%;
      text-align: center;
      justify-content: center;
      margin: 10px auto;
  }

  .socialMedia {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto; 
  }

  .socialMedia li {
      color: black;
      list-style: none;
  }
}

@media (max-width: 768px) {
  
  p {
      font-size: 1.8rem;
      line-height: 1.8rem;
  }
}

@media (max-width: 480px) {

  p {
      font-size: 1.7rem;
      line-height: 1.7rem;
  }
}



@media (max-width: 430px) {
  p {
      font-size: 1.7rem;
      line-height: 1.7rem;
  }

  section {
      margin: 50px auto;
  }
}